<!DOCKTYPE html>
<html xmlns="https://www.w3.prg/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
	<nav style="background: black" class="navbar navbar-dark bg-dark">
  		<a class="navbar-brand" href="#">
   			<img src="https://1.bp.blogspot.com/-ttBUdCzkmv4/XcHbGA-WPGI/AAAAAAABa3E/bQP8FuQ62KMK2nstsLrsyzIrSmPBeoR6gCLcBGAsYHQ/s1600/4410.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
   			 Melhor site com spring</a>
	</nav>
</html>