<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="LayoutPadrao">
<head>
	<title>Cadastro de título</title>
</head>
<section layout:fragment="conteudo">
<div style="width: 98%;border: solid 2px black; margin-top: 10px;" class="container-fluid">
<h1>Novo titulo</h1>
<a class="btn btn-link" href="/titulos">Voltar para pesquisa</a>
<form class="form-horizontal" method="POST" action="/titulos" th:object="${titulo}">
	<div layout:insert="Mensagem">
	</div>

  <div class="form-group row" th:classappend="${#fields.hasErrors('descricao')} ? is-invalid">
    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Descrição: </label>
    <div class="col-sm-8">
      <input type="text" class="form-control form-control-lg" id="descricao" th:field="*{descricao}"/>
    </div>
  </div>
  <input type="hidden" th:field="*{codigo}"/>
  <div class="form-group row" th:classappend="${#fields.hasErrors('dataVencimento')} ? is-invalid">
    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Data de Vencimento</label>
    <div class="col-sm-8">
      <input data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
						data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom" class="form-control form-control-lg" id="dataVencimento" th:field="*{dataVencimento}">
    </div>
  </div>
  <div class="form-group row" th:classappend="${#fields.hasErrors('valor')} ? is-invalid">
    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Valor:</label>
    <div class="col-sm-8">
      <input class="form-control form-control-lg js-currency" placeholder="0,00" id="valor" th:field="*{valor}">
    </div>
  </div>
    <div class="form-group row">
    <label for="status" class="col-sm-2 col-form-label col-form-label-lg">Status:</label>
    <div class="col-sm-8">
     	<select class="form-control form-control-lg" name="status" th:field="*{status}">
     	<option th:each="status : ${todosStatusTitulo}" th:value="${status}" th:text="${status.descricao}"></option>
     	</select>
    </div>
  </div>
  <div class="form-group">
  	<div class="col-sm-offset-2 col-sm-10">
  		<button type="submit" class="btn btn-primary">Salvar</button>
  	</div>
  </div>
</form>
</div>
</section>
</html>