<!DOCKTYPE html>
<html xmlns="https://www.w3.prg/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Cadastro de título</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<nav style="background: black" class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="https://1.bp.blogspot.com/-ttBUdCzkmv4/XcHbGA-WPGI/AAAAAAABa3E/bQP8FuQ62KMK2nstsLrsyzIrSmPBeoR6gCLcBGAsYHQ/s1600/4410.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    Melhor site 
  </a>
</nav>
<div>
<table id="casa" class="table table-striped table-dark">
    <thead>
        <tr>
            <th class="text-center col-md-1">#</th>
            <th>Descrição</th>
            <th class="text-center col-md-2">Data de vencimento</th>
            <th class="text-right col-md-2">Valor</th>
            <th class="text-center col-md-2">Status</th>
        	<th class="col-md-2"></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td colspan="6">nenhum titulo foi encontrado</td>
            </tr>
    </tbody>
</table>
</div>
</body>
<script
  src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"
  integrity="sha256-H28SdxWrZ387Ldn0qogCzFiUDDxfPiNIyJX7BECQkDE="
  crossorigin="anonymous"></script>
</html>