<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="LayoutPadrao">
<head>
	<title>Cadastro de título</title>
</head>
<section layout:fragment="conteudo">
<div class="container-fluid" style="margin-top:10px;">
<h1>Pesquisa titulo</h1>
<a class="btn btn-link" href="/titulos/novo">Criar novo titulo</a>
<form method="GET" class="form-horizontal" action="/titulos" th:object="${filtro}">
	<div class="form-group">
		<div class="col-lg-4">
			<div class="input-group">
			<input class="form-control" placeholder="Qual titulo você está procurando?"
			autofocus="autofocus" nome="descricao" th:field="*{descricao}">
			<span class="input-group-btn"></span>
			<button type="submit" class="btn btn-default">Pesquisar</button>
			</div>
		</div>		
	</div>
</form>
<div class="table-responsive">
<table id="casa" class="table table-striped table-dark">
    <thead>
        <tr>
            <th>#</th>
            <th>Descrição</th>
            <th>Data de vencimento</th>
            <th>Valor</th>
            <th>Status</th>
        	<th>Ações</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="titulo : ${titulos}">
    	<td th:text="${titulo.codigo}">1</td>
    	<td  th:text="${titulo.descricao}"></td>
    	<td  th:text="${{titulo.dataVencimento}}"></td>
    	<td  th:text="${{titulo.valor}}"></td>
    	<td  th:text="${titulo.status.descricao}" th:attr="data-role=${titulo.codigo}">
    	<span class="badge" th:text="${titulo.status.descricao}" th:classappend="${titulo.pendente ? 'badge-danger' : 'badge-success'}">Sucess</span>
    	</td>
    	<td>
    		<a class="btn btn-link btn-xs" th:href="@{/titulos/{codigo}(codigo=${titulo.codigo})}">
    			<span type="button" class="btn btn-primary">Editar</span>
    		</a>
			<a class="btn btn-link btn-xs" th:href="@{/titulos/excluir/{codigo}(codigo=${titulo.codigo})}"
			data-toggle="tooltip" data-placement="top" title="Excluir">
			<span type="button" style="color: red"class="btn btn-dark">Excluir</span>
			</a>
			<a class="btn btn-link btn-xs js-atualizar-status" th:if="${titulo.pendente}"
				th:attr="data-codigo=${titulo.codigo}"
				th:href="@{/titulos/{codigo}/receber(codigo=${titulo.codigo})}">
    			<span type="button" class="btn btn-primary">Receber</span>
    		</a>
    	</td>
    </tr>
            <tr>
                <td colspan="6" th:if="${#lists.isEmpty(titulos)}">nenhum titulo foi encontrado</td>
            </tr>
    </tbody>
</table>
</div>
</div>
</section>
</html>